@import '../../styles/variables';

.navbar {
  font-family: $primary-font;

  @apply bg-black lg:bg-white flex justify-between items-center h-20 text-4xl w-full lg:w-3/4 m-auto;
}

.logo {
  @apply text-3xl font-semibold ml-6 text-white lg:text-black;

  a {
    @apply text-white lg:text-black;
  }

  a:active {
    @apply text-white lg:text-black;
  }

  span {
    font-weight: 900;
    color: $yellow;
  }
}

.navigation {
}

.list {
  @apply hidden md:flex space-x-8 mr-6;

  li {
    color: black;
    list-style: none;
    @apply text-base;

    //activated te değişir
  }
}
